body {

}

ul.menu {
  border-bottom: 1px dotted;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
  list-style: none;
  li {
    &.active {
      font-weight: bold;
    }
    & + li {
      margin: 5px 0 0 0;
    }
  }

}

.form-ecom {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      & + li {
        margin: 5px 0 0 0;
      }
      div {
        display: inline-block;
        &.name {
          margin: 0 5px 0 0;
          text-align: right;
          width: 160px;
        }
        &.field {
          input {
            padding: 5px 10px;
            width: 400px;
            &[type="submit"] {
              width: auto;
              padding: 5px 40px;
            }
          }
        }
      }
    }
  }
}

.show_result {
  .status {
    font-weight: bold;
    font-size: 12pt;
  }
  .data {

  }
  .log {
    font-weight: normal;
    font-size: 10pt;
    border: 1px solid;
    max-width: 90%;
    padding: 10px;
    background: #eee;
    margin: 5px 0;
    textarea {
      width: 100%;
      padding: 5px;
      height: 150px;
      max-width: 900px;
      margin: 0 0 10px 0;
    }
  }
}

.curl {
  width: 50%;
  height: 200px;
  padding: 10px;
  background: #eee;
}


